/*** header ***************************************************************************/
body {	background-color:							rgb(000,000,000) ; }	/** noir **/
header {	background-color:						rgb(000,000,000) ; }	/** noir **/ 

/**** couleur marge et fond ***********************************************************/
.bloc-1x1 { border:   	5px solid					rgb(000,000,000) ;	}	/** noir **/
.bloc-2x1 { border:   	5px solid 					rgb(000,000,000) ;	}	/** noir **/ 	
.bloc-2x2 {	border:		5px solid 					rgb(000,000,000) ;	}	/** noir **/
.bloc-2x4 {	border:		5px solid 					rgb(000,000,000) ;	}	/** noir **/
			
.bloc-1x1 { background:	url(../images/back-box-xs.png); }	/*** pour mettre ou enlever l ombre ***/
.bloc-2x1 { background: url(../images/back-box-s.png); }	/*** pour mettre ou enlever l ombre ***/
.bloc-2x2 {	background: url(../images/back-box-m.png); }	/*** pour mettre ou enlever l ombre ***/
.bloc-2x4 {	background-color :rgb(40,40,40); }	/*** pour mettre ou enlever l ombre ***/
/********** Définition des couleurs blocks ********************************************/	
	
p {	color: 		rgb(255,255,255) ; } /** caractères des liens blanc **/ 

/***** Définition des menus ***********************************************************/
.active a, .active a .aide{	background-color:#8B0000 ; } /** fond onglet actif ********/  
.non-active a, 
.non-active a .aide	{	background-color:rgb(40,40,40); }/** fond onglet inactif  *****/

h1 				{ color : rgb(255,255,255) ; }	/** caractere fenetre active blanc ****/ 

.non-active h1			{ color : #696969 ; } /** fenetre iactive gris ****************/ 

.non-active h1:hover	{ color : white ; } /****** éclaici les menus inactifs ********/

/**** Définition des couleurs *********************************************************/
.blanc-pale 	{     background-color: #778899; } /*** fond box **********************/
/************************************************/
.rose-pale 		{     background-color: #778899; }
.violet-pale 	{     background-color: #778899; }
.vert-pale 		{     background-color: #778899; }
.jaune-pale 	{     background-color: #778899; }
.bleu-pale 		{     background-color: #778899; }
/************************************************/
.blanc-fonce	{     background-color: #8B0000; } /*** fond des sous-box *************/
/************************************************/
.bleu-fonce		{     background-color: #8B0000; }
.rose-fonce		{     background-color: #8B0000; }
.violet-fonce	{     background-color: #8B0000; }/**        rouge foncé         *****/
.vert-fonce		{     background-color: #8B0000; }
.jaune-fonce	{     background-color: #8B0000; }

/***** http://stylescss.free.fr/couleurs.php *******************************************/