
/**** Définition des couleurs header **********************************************/
header { background-color:rgb(55,187,210) /** bleu ciel **/; }


/**** Définition des couleurs ****************************************************/
.blanc-pale 	{     background-color: #696969; }
.rose-pale 		{     background-color: #696969; }
.violet-pale 	{     background-color: #696969; }
.vert-pale 		{     background-color: #696969; }
.jaune-pale 	{     background-color: #696969; }
.bleu-pale 		{     background-color: #696969; }

.bleu-fonce		{     background-color: #8B0000; }
.blanc-fonce	{     background-color: #8B0000; }
.rose-fonce		{     background-color: #8B0000; }
.violet-fonce	{     background-color: #8B0000; }
.vert-fonce		{     background-color: #8B0000; }
.jaune-fonce	{     background-color: #8B0000; }



/***** http://stylescss.free.fr/couleurs.php ***************************************/






