/*************************************************************************************/
body {	height: 100% ;
		margin-top:10px ;
		overflow-x: hidden /*** suppression scroll bar horizontale ****/ ; }

/********** Définition du haut de page **********************************************/		
header {	height: 60px;
			padding:00px ;
			margin-bottom:5px; 	}
		
.img-header {	float:left ;
				height: 40px; width:40px ;
				border: 1px solid white ;
				border-radius:50% ;
				margin-top:15px ; margin-left:10px ; }    

.a-gauche { float:left;
			margin-left: 15px;}

.a-droite { float:right;
			margin-right: 15px;}
			
h1 {	display: 	inline-block;
		font-size:	30px; }
		
/***** Définition des menus *********************/
ul {
    list-style-type: none;
    margin : 0;
    padding: 0;
	width:100% ; }

li a {
    display: inline;
	float:left ;
	margin-right : 10px;
    width: 300px;
	height:60px ; }
		
.active a {		border-top-left-radius:20px;
				border-top-right-radius:20px;
				text-align:center ; }

.non-active a {	border-top-left-radius:20px;
				border-top-right-radius:20px;
				text-align:center ;  }
				  
.non-active h1{ text-align:top ; }
		
/********** Définition du texte paragraphe **********************************************/		
p {	display: 	inline-block;
    font-size: 	20px;
    padding: 	20px;
    margin:		0; 	}		

/**** Centrer l'image dans le block ************************************************/
.img-center {
    display:      block;
    margin-left:  auto;
	margin-right: auto ; }	
	
/**** Définition taille block 1x1 **************************************************/
.bloc-1x1 {
    position: relative;
    height:   240px;
    display: flex;
    align-items: center;
	padding-bottom: 60px;
 }
	
/**** Définition taille block 1x1 ************************************************/
.bloc-2x1 {
    position: relative;
	height:   240px;
    display: flex;
    align-items: center;
	padding-bottom: 60px;
 }

/**** Définition taille block 1x1 ***********************************************/
.bloc-2x2 {
    position:	relative;
	height: 	480px;
    display: flex;
    align-items: center;
	padding-bottom: 60px; }
	
/**** Définition taille block 1x1 ***********************************************/
.bloc-2x4 {
    position:	relative;
	height: 	720px;
    display: flex;
    align-items: center;
	padding-bottom: 60px; }	
	
/**** Définition de mise place des blocks ***************************************/
.col-md-4, .col-md-6, .col-md-12 {
    padding-right: 0;
    padding-left:  0; }	
	
.container-fluid {
    padding-right: 0 ;
    padding-left:  0 ;
    margin-left:   0px;
    margin-right:  0px; }
	
/******** suppression dordure D et G ********************************************/	
.row {
    margin-right: -5px ;
    margin-left:  -5px ; 	}	
	
/**** Définition des curseurs **************************************************/
.c-type1 {
    display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 19px; /*** pour changer la position vertical des curseurs ****/
	width: 30px;  /*** pour changer la taille des curseurs ****/
	height: 30px; /*** pour changer la taille des curseurs ****/
	background: url(../images/c-type1-blanc.png); }
	
.c-type2 {
    display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 19px; /*** pour changer la position vertical des curseurs ****/
	width: 30px; /*** pour changer la taille des curseurs ****/
	height: 30px;/*** pour changer la taille des curseurs ****/
	background: url(../images/c-type2-blanc.png); }

.c-gris 				{	background: url(../images/c-type1-gris.png) ;}

.lien:hover .c-type1 	{	background: url(../images/c-type1-gris.png) ;}

.lien:hover .c-gris 	{	background: url(../images/c-type1-blanc.png);}

.lien:hover .c-type2 	{	background: url(../images/c-type2-gris.png) ;}

.c-type1, 
.c-type2, 
.lien:hover .c-gris, 
.lien:hover .c-blanc, 
.lien:hover .c-type1, 
.lien:hover .c-type2, 
.lien:hover .c-type1 .c-gris,
.lien:hover .c-type2 .c-gris { background-size: 30px 30px ; background-repeat: no-repeat ; }
	
 
.lien:hover p		{ color: rgb( 64, 64, 64);} /**** texte survolé blanc > gris********/ 
	
.lien:hover p.gris	{ color: rgb(245,245,245);} /**** texte survolé gris > blanc********/

/**** Définition de la position des boites fonces **************************************/
.lien {
    position:absolute;
    bottom:0;
    left:0px;
    width:100%;
	height: 60px; }
	
