/*************************************************************************************/
body {	background-color:rgb(64,64,64) /** gris fonc� **/; 
		height: 100% ;
		margin:0px ;
		overflow-x: hidden /*** suppression scroll bar horizontale ****/ ;}

/********** D�finition du haut de page **********************************************/		
header {	background-color:rgb(55,187,210) /** bleu ciel **/;
			height: 120px;
			color:rgb(255,255,255) /** blanc **/ ;
			padding:20px ;
			margin-bottom:5px; 	}
	
 .img-header {	height: 80px; width:80px ;
				float:left ; 
				border: 3px solid white ;
				border-radius:50% ;
				}

.a-gauche { float:left;
			margin-left: 15px;}

.a-droite { float:right;
			margin-right: 15px;}
			
h1 {	display: 	inline-block;
		font-size:	30px;
		color:		rgb(255,255,255) /** blanc **/ ; }
		
/********** D�finition du texte paragraphe **********************************************/		
p {	display: 	inline-block;
    color: 		rgb(255,255,255) /** blanc **/ ;
    font-size: 	20px;
    padding: 	20px;
    margin:		0; 	}		

/**** Centrer l'image dans le block ************************************************/
.img-center {
    display:      block;
    margin-left:  auto;
    margin-right: auto ; 
	margin-bottom: 20px          ;}	
	
/**** D�finition taille block 1x1 **************************************************/
.bloc-1x1 {
    position: relative;
    height:   255px;
	border:   5px solid rgb(64,64,64) /** gris fonc� **/;
    padding-top:40px; }
	
/**** D�finition taille block 2x1 ************************************************/
.bloc-2x1 {
    position: relative;
	height:   255px;
	border:   5px solid rgb(64,64,64) /** gris fonc� **/; 	
    padding-top:40px; }

/**** D�finition taille block 2x2 ***********************************************/
.bloc-2x2 {
    position:	relative;
	border:		5px solid rgb(64,64,64) /** gris fonc� **/;
	height: 	510px;
    padding-top:110px; }
	
/**** D�finition de mise place des blocks ***************************************/
.col-md-4, .col-md-6, .col-md-12 {
    padding-right: 0;
    padding-left:  0; }	
	
.container-fluid {
    padding-right: 0 ;
    padding-left:  0 ;
    margin-left:   0px;
    margin-right:  0px; }
	
/******** suppression bordure D et G ********************************************/	
.row {
    margin-right: -5px ;
    margin-left:  -5px ; 	}	
	
/**** D�finition des curseurs **************************************************/
.c-type1 {
    display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 24px;
	width: 15px;
	height: 15px;
	background: url(../images/c-type1-blanc.png); }
	
.c-type2 {
    display: inline-block;
	float: right;
	margin-right: 15px;
	margin-top: 24px;
	width: 15px;
	height: 15px;
	background: url(../images/c-type2-blanc.png); }

.c-gris 				{	background: url(../images/c-type1-gris.png) ;}

.lien:hover .c-type1 	{	background: url(../images/c-type1-gris.png) ;}

.lien:hover .c-gris 	{	background: url(../images/c-type1-blanc.png);}

.lien:hover .c-type2 	{	background: url(../images/c-type2-gris.png) ;}

.c-type1, 
.c-type2, 
.lien:hover .c-gris, 
.lien:hover .c-blanc, 
.lien:hover .c-type1, 
.lien:hover .c-type2, 
.lien:hover .c-type1 .c-gris,
.lien:hover .c-type2 .c-gris { background-size: 15px 15px ; background-repeat: no-repeat ; }
	
/**** D�finition de la couleur grise pour le texte et curseur **************************/
.gris {	color: rgb(64,64,64) ;  }	
 
.lien:hover p		{ color: rgb( 64, 64, 64);} /**** texte survol� blanc > gris********/ 
	
.lien:hover p.gris	{ color: rgb(245,245,245);} /**** texte survol� gris > blanc********/

/**** D�finition de la position des boites fonces **************************************/
.lien {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height: 60px;
    font-weight: 600; }
	
/**** D�finition des couleurs ****************************************************/
.blanc-pale 	{     background-color: rgb(245,245,245); }
.blanc-fonce	{     background-color: rgb(153,153,153); }
.rose-pale 		{     background-color: rgb(245,137,125); }
.rose-fonce		{     background-color: rgb(248, 80, 77); }
.violet-pale 	{     background-color: rgb(180,131,255); }
.violet-fonce	{     background-color: rgb(126, 82,197); }
.vert-pale 		{     background-color: rgb(183,246,201); }
.vert-fonce		{     background-color: rgb( 53,234,181); }
.jaune-pale 	{     background-color: rgb(251,255,134); }
.jaune-fonce	{     background-color: rgb(251,237, 26); }
.bleu-pale 		{     background-color: rgb(126,254,255); }
.bleu-fonce		{     background-color: rgb( 62,168,246); }